@import url('https://fonts.googleapis.com/css2?family=Itim&family=PT+Sans+Caption&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

*{
    margin: 0px;
    padding: 0px;
    border-spacing: border-box;
    font-family: inherit;
    font-size: inherit;
}

body{
    background-color: black;
}

.tit{
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;
    color: azure;
    font-size: 90px;
    text-align: center;
}

.space{
    height:700px;
    border-color:azure;
    border-width: 6px;
    border-style: solid;
    width: 1700px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: auto;
}

/* .space .game{
    width: 330px;
    padding: 15px;
    margin: 25px;
} */

.imgs{
    width: 450px;
    height: 450px;
    border-width: 5px;
    border-color: azure;
    border-style: solid;
    border-radius: 3px;
    margin-left: 28px;
    margin-right: 28px;
}

.imgs:hover{
    opacity: 30%;
    background-color:black;
}